<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>

  <header class="absolute w-full  flex justify-around p-5">
    <h2 class="font-bold text-[1.4rem] text-zinc-500"> <span class="paid">Web</span> <span
        class="text-[0.9rem]">.com</span></h2>
    <a href="/login" class="bg-gray-600 duration-300 hover:bg-gray-500 font-bold rounded-lg md:px-8 px-5 py-2">Log
      in</a>
  </header>
  <div class="home w-full h-screen bg-zinc-900 flex flex-col justify-center items-center">
    <h1 class="md:text-[3.3rem] text-[1.6rem] font-[700] text-zinc-600 leading-[66px]">Transform Dreams into <br> <span
        class="md:text-[5rem] text-[3rem] md:tracking-[7px] tracking-[5px] digital font-[900]">Digital</span> Reality!
    </h1>
    <a href="/create"
      class="bg-blue-600 hover:bg-transparent hover:border border-blue-500 duration-300 font-bold rounded-lg md:px-8 px-5 py-2 mt-[20px]">Create
      Account</a>
    <p class="md:w-[500px] w-[300px] h-[40px]  pt-10 font-medium text-justify text-zinc-500"> <span>Notes: </span>Get
      the website of
      your choice in
      very cheap
      price.
      Special offer
      for
      Hazara
      University student
      of BSSE 7th A. If
      you are a student then be carefull in the time of creating account you should to write your rollno, section
      otherwise you
      will not get discount</p>
  </div>

</body>

</html>