<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/create.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <div id="discount" class="w-full  py-10 bg-zinc-200 flex flex-col justify-center items-center">
    <h2 class="md:text-[3rem] text-[2.1rem] font-bold order-text border-b-2 border-blue-500">Order Your Website</h2>
    <div class="w-[90%] md:w-[80%] grid grid-cols-1 md:grid-cols-3 gap-5 mt-4">
      <div
        class="box1 duration-300 bg-zinc-700 w-[300px] scale-[0.9] hover:scale-[1] h-[400px] rounded-lg text-center ">
        <div class="heading mt-[20px]">
          <h3 class="font-bold  text-[1.9rem] ">Personal Blog</h3>
          <h2><span class="font-medium">Rs <span class="text-[2rem]">999</span> <span class="text-zinc-600">/ life
                time</span></span></h2>
        </div>
        <div class="paras mt-10 flex flex-col gap-5 font-bold text-[1.1rem] font-sans">
          <p class="text-zinc-400 line-through">Rs.1999</p>
          <p class="text-zinc-400">Responsive</p>
          <p class="text-zinc-400">User Friendly</p>
          <p class="text-zinc-400">Github Linked</p>
        </div>
        <div
          class="w-[130px] h-[40px] bg-gradient-to-r from-purple-500 to-pink-500 mx-auto mt-4 rounded-[50px] flex justify-center items-center">
          <a href="#message" class="w-[100%] h-[100%] object-cover mt-4 font-bold">Order Now</a>
        </div>
      </div>

      <div
        class="box2 duration-300 bg-zinc-700 w-[300px] scale-[0.9] hover:scale-[1] h-[400px] rounded-lg text-center ">
        <div class="heading mt-[20px]">
          <h3 class="font-bold  text-[1.9rem] ">Portfolio</h3>
          <h2><span class="font-medium">Rs <span class="text-[2rem]">1499</span> <span class="text-zinc-600">/ life
                time</span></span></h2>
        </div>
        <div class="paras mt-10 flex flex-col gap-5 font-bold text-[1.1rem] font-sans">
          <p class="text-zinc-400 line-through">Rs.2499</p>
          <p class="text-zinc-400">Responsive</p>
          <p class="text-zinc-400">User Friendly</p>
          <p class="text-zinc-400">Github Linked</p>
        </div>
        <div
          class="w-[130px] h-[40px] bg-gradient-to-r from-purple-500 to-pink-500 mx-auto mt-4 rounded-[50px] flex justify-center items-center">
          <a href="#message" class="w-[100%] h-[100%] object-cover mt-4 font-bold">Order Now</a>
        </div>


      </div>
      <div
        class="box3 duration-300 bg-zinc-700 w-[300px] scale-[0.9] hover:scale-[1] h-[400px] rounded-lg text-center ">
        <div class="heading mt-[20px]">
          <h3 class="font-bold  text-[1.9rem] ">Bussiness</h3>
          <h2><span class="font-medium">Rs <span class="text-[2rem]">1999</span> <span class="text-zinc-600">/ life
                time</span></span></h2>
        </div>
        <div class="paras mt-10 flex flex-col gap-5 font-bold text-[1.1rem] font-sans">
          <p class="text-zinc-400 line-through">Rs.2999</p>
          <p class="text-zinc-400">Responsive</p>
          <p class="text-zinc-400">User Friendly</p>
          <p class="text-zinc-400">Github Linked</p>
        </div>
        <div
          class="w-[130px] h-[40px] bg-gradient-to-r from-purple-500 to-pink-500 mx-auto mt-4 rounded-[50px] flex justify-center items-center">
          <a href="#message" class="w-[100%] h-[100%] object-cover mt-4 font-bold">Order Now</a>
        </div>
      </div>


    </div>
  </div>

  <div id="profile" class="w-full py-[70px] bg-zinc-200 flex flex-col justify-center items-center">
    <h2 class="order-text md:text-[2.5rem] border-b-2 border-blue-500 text-[2rem]">Profile Details</h2>
    <div class="w-[90%] md:w-[80%] h-[80%] bg-zinc-700 rounded-[20px] mt-4">
      <div class="profile-section  w-full h-full rounded-[20px] flex flex-col md:flex-row">

        <div
          class="profile-pic w-full md:w-[30%] rounded-l-[20px] h-full flex justify-center items-center flex-col md:mt-20 mt-10">
          <img src="/images/6.jpg" alt="" class="w-[120px] border-4 border-blue-500 h-[120px] rounded-[50%]">
          <div class="profile-pic-content text-center">
            <h2 class="font-medium mt-2 text-blue-600">Irfan Mohmand</h2>
            <p class="text-[1.2rem] font-bold text-zinc-600">Web Developer</p>
          </div>
        </div>

        <!-- Vertical Line -->
        <div class="hidden md:block w-[2px] bg-gray-400 h-[400px] mt-5 rounded-[20px]"></div>

        <div class="profile-details w-full md:w-[70%] h-full rounded-r-[20px]">
          <h1 class="font-bold text-blue-600 text-[1.4rem] text-center mt-5">Profile Details</h1>
          <div class="profile-details-content md:mt-5 mt-0 text-center  flex flex-col justify-center">

            <div class="flex flex-col gap-[20px] mt-5">
              <div>
                <span class="mr-[100px] font-bold text-[1.1rem]">Name:</span> <span
                  class="font-medium text-zinc-600">Irfan
                  Ullah</span> <br>
              </div>
              <div>
                <span class="mr-[100px] font-bold text-[1.1rem] mr-[175px]">Age:</span> <span
                  class="font-medium text-zinc-600">23</span> <br>
              </div>
              <div>
                <span class="mr-[100px] font-bold text-[1.1rem] mr-[50px]">Mobile:</span> <span
                  class="font-medium text-zinc-600">+92
                  46-5979993</span>
                <br>
              </div>
              <div>
                <span class="md:ml-[38px] ml-[18px] font-bold text-[1.1rem] absolute">Email:</span> <span
                  class="font-medium md:ml-[161px] ml-[150px]  text-zinc-600 text-zinc-600 md:text-[1rem] text-[0.8rem]">irfanmohmand987@</span>
                <br>
              </div>
              <div>
                <span class="md:ml-[69px] ml-[28px] font-bold text-[1.1rem] absolute">Address:</span> <span
                  class="font-medium md:ml-[191px] ml-[150px]  text-zinc-600 text-zinc-600 md:text-[1rem] text-[0.8rem] md:text-[1.1.rem] text-[0.7rem]">Ali
                  Khan Town Takht Bhai <br><span class=" md:ml-[95px] ml-[75px] ">Dist
                    Mardan</span></span>
                <br>
              </div>

              <div class="profile-anchors mt-2 flex gap-10 justify-center items-center">
                <a href="https://web.facebook.com/sunny.irfan.79"
                  class="fb w-[40px] h-[40px] flex justify-center items-center hover:border-blue-500 hover:border-2 hover:bg-transparent bg-blue-500 shadow-lg shadow-blue-500/90 bg-blue-600 rounded-[50%] duration-300 border-blue-500"
                  target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://github.com/Irfanmohmand/IrfanMohmand.github.io"
                  class="fb w-[40px] h-[40px] flex justify-center items-center hover:border-blue-500 hover:border-2 hover:bg-transparent bg-blue-500 shadow-lg shadow-blue-500/90 bg-blue-600 rounded-[50%] duration-300 border-blue-500"
                  target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/irfan-mohmand-4b7207331/"
                  class="fb w-[40px] h-[40px] flex justify-center items-center hover:border-blue-500 hover:border-2 hover:bg-transparent bg-blue-500 shadow-lg shadow-blue-500/90 bg-blue-600 rounded-[50%] duration-300 border-blue-500"
                  target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="message" class="w-full py-20 bg-zinc-200 flex flex-col justify-center items-center">
    <h2
      class="order-text border-b-2 border-blue-500 md:text-[2.5rem] text-[2rem] flex flex-col justify-center items-center">
      Add Your Details</h2>
    <form action="/order" method="post" class="md:w-[40%] w-[80%] h-[60vh] outline-none text-zinc-700 mt-4">
      <textarea name="content" placeholder="Send Your order details here. What type of website you want to buy."
        class="w-[100%] h-[100%] outline-none rounded-[20px] bg-zinc-700 p-2 font-medium resize-none"></textarea>
      <input type="submit" value="submit"
        class="md:w-[30%] w-[40%] md:h-[12%] font-bold h-[10%] bg-gradient-to-r from-purple-500 to-pink-500 cursor-pointer mt-2 md:mx-[160px] mx-[86px] rounded-[50px]">
    </form>
  </div>





</body>

</html>